{% extends 'base_admin.html' %}
{% load static %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Add Bus</h4>
        <form class="forms-sample" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
            <a class="btn btn-light" href="{% url 'bus:bus_list' %}" onclick="return confirmCancel()">Cancel</a>
        </form>
    </div>
</div>
</div>
<script>
    function confirmCancel() {
        return confirm("Are you sure you want to cancel? Your changes will be lost! Take a moment to review your updates.");
    }
</script>
{% endblock %}