{% extends 'base.html' %}
{% load humanize %}

{% block content %}
{% include 'navbar_customer.html' %}

<div class="container my-5 mt-5 pt-5">
    <!-- Breadcrumb -->
    <nav class="mb-4">
        <a href="{% url 'users:homepage' %}" class="text-decoration-none text-secondary">Home</a> / 
        <a href="{% url 'bus:bus_list_customer' %}" class="text-decoration-none text-secondary">Bus List</a> / 
        <span class="text-dark">{{ bus.name }}</span>
    </nav>

    <!-- Bagian Detail Bus -->
    <div class="row">
        <!-- Gambar Bus -->
        <div class="col-md-6">
            <img src="{{ bus.image }}" alt="{{ bus.name }}" class="product-img mb-3">
            <!-- <div class="d-flex">
                {% for image in bus.additional_images.all %}
                    <img src="{{ image.url }}" alt="Thumbnail" class="thumbnail me-2">
                {% endfor %}
            </div> -->
        </div>

        <!-- Detail Bus -->
        <div class="col-md-6">
            <h1 class="h1">{{ bus.name }}</h1>
            <p class="text-muted">Seats Available: {{ bus.seat }}</p>
            <h2 class="text-primary">Rp. {{ bus.price|intcomma }}</h2>

            <div class="mb-3">
                <p><strong>Departure:</strong> {{ bus.departure }}</p>
                <p><strong>Destination:</strong> {{ bus.destination }}</p>
                <p><strong>Departure Time:</strong> {{ bus.departure_time }}</p>
            </div>

            <a href="{% url 'bus:bus_list_customer' %}" class="btn btn-primary btn-lg mt-3">← Back to Bus List</a>
        </div>
    </div>

    <!-- Bagian Formulir Booking -->
    <div class="card shadow-sm mt-5 ">
        <div class="card-header bg-info text-white">
            <h2 class="h5 mb-0">Book Your Seat</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="{% url 'bookings:create_booking' bus.id %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="seats" class="form-label">Number of Seats</label>
                    {{ form.seats }}
                </div>
            
                <label for="services" class="form-label ">Select Additional Services</label>
                <div class="mb-3 mx-4">
                    <div id="services">
                        {% for checkbox in form.services %}
                            <div class="form-check">
                                {{ checkbox.tag }}
                                <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                                    {{ checkbox.choice_label }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            
                <button type="submit" class="btn btn-info w-100">Book Now</button>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}
